@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavMan
@implements IAsyncDisposable

<style>
    #input-field {
        width: 200px;
        height: 30px;
        background-color: #f8f9fa;
        border-width: 0.5;
        padding-left: 5px;
        font-size: 16px;
    }

    #input-field:focus {
        outline: none;
    }
    
    .no-bullets {
        list-style-type: none;
        padding-left: 0;
    }

    #centered-container {
        text-align: center;
    }

    .sticky-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: left;
    }
</style>

<div class="container">
    <div class="row">
        <div style="text-align: center;" class="col-md-6">
            <h2>Storypoint Estimator</h2>
            <hr />
            <div class="form-group">
                @if (!_hasJoined)
                {
                    <label>
                        <input id="input-field" placeholder="Your name" @bind="_name" />
                        <button @onclick="Join">Join</button>
                    </label>
                }
                else
                {
                    <label>
                        <select id="input-field" @bind="_vote" disabled="@(_hasVoted)">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="8">8</option>
                            <option value="13">13</option>
                        </select>
                        <button @onclick="Vote" disabled="@(_hasVoted)">Vote</button>
                    </label>
                }
            </div>
            <hr />
            <ul class="no-bullets">
                @foreach (string message in _messages)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
        <div style="text-align: center;" class="col-md-2">
            <h2>Results</h2>
            <hr />
            <label>
                <button disabled="@(!_hasJoined)" @onclick="Reveal">Reveal</button> <button disabled="@(!_hasJoined)" @onclick="Reset">Reset</button>
            </label>
            <hr />
            <ul class="no-bullets">
                @foreach (string vote in _votes)
                {
                    <li>@vote</li>
                }
            </ul>
        </div>
        <div style="text-align: center;" class="col-md-4">
            <h2>Connected</h2>
            <hr />
            <button @onclick="Leave" disabled="@(!_hasJoined)">Leave</button>
            <hr />
            <ul class="no-bullets">
                @foreach (string client in _clients)
                {
                    <li>@client</li>
                }
            </ul>
        </div>
    </div>
</div>
<div style="text-align: center;">
    @if (_unauthorised)
    {
        <h4 style="color: red;">Client Unauthorised</h4>
    }
</div>

@* <div class="sticky-bottom">
    @if (_hasJoined)
    {
        <label>
            <input id="input-field" @bind="_message" placeholder="Say something..." /> <button @onclick="Send">Send</button>
        </label>
    }
</div> *@

@code {
    private List<string> _messages = new();
    private List<string> _clients = new();
    private List<string> _votes = new();

    private string _message;
    private HubConnection? _connection;
    private Session _session;
    private string _name;
    private bool _hasJoined;
    private string _vote;
    private bool _hasVoted;
    private bool _unauthorised;

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder().WithUrl(NavMan.ToAbsoluteUri("/vote")).WithAutomaticReconnect().Build();

        _connection.On<Session>("SessionInit", (session) =>
        {
            _session = session;
            InvokeAsync(StateHasChanged);
        });

        _connection.On<string>("ReceiveMessage", (message) =>
        {
            _messages.Add(message);
            InvokeAsync(StateHasChanged);
        });

        _connection.On<string>("ReceiveVote", (vote) =>
        {
            _votes.Add(vote);
            InvokeAsync(StateHasChanged);
        });

        _connection.On("ClearVotes", () =>
        {
            _votes.Clear();
            _hasVoted = false;
            InvokeAsync(StateHasChanged);
        });

        _connection.On<string>("ReceiveClient", (name) =>
        {
            _clients.Add(name);
            InvokeAsync(StateHasChanged);
        });

        _connection.On<string>("LeaveClient", (name) =>
        {
            _clients.Remove(name);
            InvokeAsync(StateHasChanged);
        });
        
        try
        {
            await _connection.StartAsync();
        }
        catch (HttpRequestException)
        {
            _unauthorised = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    public async Task Reset()
    {
        if (_connection is null) return;

        await _connection.SendAsync("Reset");
    }

    public async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message)) return;

        if (_connection is null) return;

        await _connection.SendAsync("Send", _message);
    }

    public async Task Join()
    {
        if (string.IsNullOrWhiteSpace(_name)) return;

        if (_connection is null) return;

        await _connection.SendAsync("Join", _name);
        _hasJoined = true;
    }

    public async Task Vote()
    {
        if (string.IsNullOrWhiteSpace(_vote)) return;

        if (_connection is null) return;

        await _connection.SendAsync("Vote", _vote);
        _hasVoted = true;
    }

    public async Task Reveal()
    {
        if (_connection is null) return;

        await _connection.SendAsync("GetVotes");
    }

    public async Task Leave()
    {
        if (_connection is null) return;

        await _connection.SendAsync("Leave");
        _hasJoined = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (_connection is not null)
        {
            await _connection.SendAsync("Leave");
            await _connection.DisposeAsync();
        }
    }
}