@page "/session/join/{SessionId}"
@using Microsoft.AspNetCore.SignalR.Client
@using StoryEstimate.Models;
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<style>
    #input-field {
        width: 200px;
        height: 30px;
        background-color: #f8f9fa;
        border-width: 0.5;
        padding-left: 5px;
        font-size: 16px;
    }

    #input-field:focus {
        outline: none;
    }
    
    .no-bullets {
        list-style-type: none;
        padding-left: 0;
    }

    #centered-container {
        text-align: center;
    }

    .sticky-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 20px;
        text-align: left;
    }
</style>

@if (_errorMessage is not null)
{
    <div class="container">
        <div class="row">
            <div style="text-align: center;">
                <h3>
                    <h4 style="color: red;">@_errorMessage</h4>
                </h3>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div style="text-align: center;">
                <h2>@_session.Name</h2>
                <label>
                    <input id="input-field" style="width: 500px; text-align: center;" placeholder="Session URL" @bind="_sessionUrl" readonly />
                    <button @onclick="CopyToClipboard">Copy</button> @_copyMessage
                </label>
                <hr />
            </div>
        </div>
        <div class="row">
            <div style="text-align: center;" class="col-md-6">
                <h2>Storypoint Estimator</h2>
                <hr />
                <div class="form-group">
                    @if (!_hasJoined)
                    {
                        <label>
                            <input id="input-field" placeholder="Your name" @bind="_name" />
                            <button @onclick="Join">Join</button>
                        </label>
                    }
                    else
                    {
                        <label>
                            <select id="input-field" @bind="_vote" disabled="@(_hasVoted)">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="8">8</option>
                                <option value="13">13</option>
                            </select>
                            <button @onclick="Vote" disabled="@(_hasVoted)">Vote</button>
                        </label>
                    }
                </div>
                <hr />
                <ul class="no-bullets">
                    @foreach (string message in _messages)
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
            <div style="text-align: center;" class="col-md-2">
                <h2>Results</h2>
                <hr />
                <label>
                    <button disabled="@(!_hasJoined)" @onclick="Reveal">Reveal</button> <button disabled="@(!_hasJoined)" @onclick="ResetVotes">Reset</button>
                </label>
                <hr />
                <ul class="no-bullets">
                    @if (_revealVotes)
                    {
                        @foreach (var vote in _session.Votes)
                        {
                            <li>@vote.Value (@vote.Key)</li>
                        }
                    }
                </ul>
            </div>
            <div style="text-align: center;" class="col-md-4">
                <h2>Connected</h2>
                <hr />
                <button @onclick="Leave" disabled="@(!_hasJoined)">Leave</button>
                <hr />
                <ul class="no-bullets">
                    @foreach (Client client in _clients)
                    {
                        @if(client.HasVoted)
                        {
                            <li>@client.Name (Voted)</li>
                        }
                        else
                        {
                            <li>@client.Name</li>
                        }
                        
                    }
                </ul>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        @if (_unauthorised)
        {
            <h4 style="color: red;">Client Unauthorised</h4>
        }
        @if (_allVotesReceived)
        {
            <h4 style="color: green;">All votes are in!</h4>
        }
    </div>

    @* <div class="sticky-bottom">
        @if (_hasJoined)
        {
            <label>
                <input id="input-field" @bind="_message" placeholder="Say something..." /> <button @onclick="Send">Send</button>
            </label>
        }
    </div> *@
}



@code {

    [Parameter]
    public string? SessionId { get; set; }

    // Collections
    private List<string> _messages => _session.Chat.ToList();
    private List<Client> _clients => _session.Clients.Values.ToList();
    private List<string> _votes => _session.Votes.Values.ToList();

    // Inputs
    private string _message;
    private string _copyMessage;
    private string _sessionUrl;
    private HubConnection? _connection;
    private string _name;
    private bool _hasJoined;
    private string _vote;

    // Fields
    private string _errorMessage;
    private bool _unauthorised;
    private Models.Session _session = new();
    private bool _hasVoted;
    private bool _allVotesReceived;
    private bool _revealVotes;

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(NavManager
                .ToAbsoluteUri("/session"))
                .WithAutomaticReconnect()
                .Build();

        _connection.On<string>("ServerError", (error) =>
        {
            _errorMessage = error;
            InvokeAsync(StateHasChanged);
        });

        _connection.On<Models.Session>("SessionUpdate", (session) =>
        {
            _session = session;
            InvokeAsync(StateHasChanged);
        });

        _connection.On<Models.Session>("SetSession", (session) =>
        {
            _session = session;
            InvokeAsync(StateHasChanged);
        });

        _connection.On("VoteReceived", () =>
        {
            _hasVoted = true;
            InvokeAsync(StateHasChanged);
        });

        _connection.On("AllVotesReceived", () =>
        {
            _allVotesReceived = true;
            InvokeAsync(StateHasChanged);
        });

        _connection.On("Reveal", () =>
        {
            _revealVotes = true;
            InvokeAsync(StateHasChanged);
        });

        _connection.On("VotesReset", () =>
        {
            ResetVote();
            _allVotesReceived = false;
            _revealVotes = false;
            _hasVoted = false;
            InvokeAsync(StateHasChanged);
        });
        
        try
        {
            await _connection.StartAsync();
            _sessionUrl = NavManager.Uri;
            
        }
        catch (HttpRequestException)
        {
            _unauthorised = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_connection is null) return;

        await _connection.SendAsync("GetSession", SessionId);
        _sessionUrl = NavManager.Uri;
        await base.OnAfterRenderAsync(firstRender);
    }

    public async Task Join()
    {
        if (_connection is null) return;

        await _connection.SendAsync("JoinSession", _name, SessionId);
        _hasJoined = true;
    }

    public async Task Vote()
    {
        if (string.IsNullOrWhiteSpace(_vote)) return;

        if (_connection is null) return;

        await _connection.SendAsync("Vote", _vote, _session.Id);
        _hasVoted = true;
    }

    public async Task Send()
    {
        if (string.IsNullOrWhiteSpace(_message)) return;

        if (_connection is null) return;

        await _connection.SendAsync("SendMessage", _message, _session.Id);
    }

    public async Task ResetVotes()
    {
        if (_connection is null) return;

        await _connection.SendAsync("ResetVotes", _session.Id);
    }

    public async Task ResetVote()
    {
        if (_connection is null) return;

        await _connection.SendAsync("ResetVote", _session.Id);
    }

    public async Task Reveal()
    {
        if (_connection is null) return;

        await _connection.SendAsync("RevealVotes", _session.Id);
    }

    public async Task Leave()
    {
        if (_connection is null) return;

        await _connection.SendAsync("Leave", _session.Id);
        _hasJoined = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (_connection is not null && _session is not null)
        {
            await _connection.SendAsync("Leave", _session.Id);
            await _connection.SendAsync("LeaveSession", _session.Id);
            await _connection.DisposeAsync();
        }
    }

    private async Task CopyToClipboard()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", _sessionUrl);
        _copyMessage = "Copied!";
    }
}